@page
@model ShopApp.Pages.Categories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Category</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.Title" class="control-label"></label>
                <input asp-for="Category.Title" class="form-control" />
                <span asp-validation-for="Category.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Catalogue" class="control-label"></label>
                <select asp-for="Category.CatalogueId" class="form-control" asp-items="@Model.CatalogueSL">
                    <option value="">-- Select Catalogue --</option>
                </select>
                <span asp-validation-for="Category.CatalogueId" class="text-danger" />
            </div>
            <div class="form-group hstack gap-3 mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <div class="vr"></div>
                <a asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
