@page
@model ShopApp.Pages.Catalogues.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details Catalogue</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Catalogue.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Catalogue.Title)
        </dd>
    </dl>
</div>
<div class="hstack gap-3 mt-3">
    <a asp-page="./Edit" asp-route-id="@Model.Catalogue?.Id">Edit</a>
    <div class="vr"></div>
    <a asp-page="./Index">Back to List</a>
</div>
