@page
@model ShopApp.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Product</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="vstack gap-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Title" class="form-label"></label>
                <input asp-for="Product.Title" class="form-control" />
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Category" class="form-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="@Model.CategoryTitleSL"></select>
            </div>
            <div class="form-group">
                <label asp-for="Product.ReleaseDate" class="form-label"></label>
                <input asp-for="Product.ReleaseDate" class="form-control" />
                <span asp-validation-for="Product.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="form-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Stock" class="form-label"></label>
                <input asp-for="Product.Stock" class="form-control" />
                <span asp-validation-for="Product.Stock" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.HasDiscount" /> @Html.DisplayNameFor(model =>
                    model.Product.HasDiscount)
                </label>
            </div>
            <div class="form-group hstack gap-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <div class="vr"></div>
                <a asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
